<div class="row">
  <div class="col-md-3 col-md-offset-4">

      <form ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only" >Username</label>
        <input type="text" id="inputEmail" ng-model="username" class="form-control" placeholder="username" required="" autofocus="">
        <label for="inputPassword" class="sr-only" >Password</label>
        <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </div>
          <div class="col-md-6">
            <a href="/login/facebook/" class="btn-social btn-facebook"><i class="fa fa-facebook-square" style="font-size: 50px;"></i></a>
          </div>
        </div>
      </form>

  </div>
</div>